.ui_selector {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, Ubuntu, sans-serif;

    display: inline-block;
}

.ui_selector .select {
    color: #000;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid rgba(200, 199, 204, 0.5);
    padding: 10px 15px;
    width: 201px;
    -webkit-user-select: none;
    cursor: pointer;
    border-radius: 11px;
    display: inline-block;
    background-image: -webkit-linear-gradient(top, #FAFAFA, #F6F6F6);
    background-image: -moz-linear-gradient(top, #FAFAFA, #F6F6F6);
    background-size: auto 48px;
    background-position: 0px -11px;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.10);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dark-mode .ui_selector .select {
    background-image: -webkit-linear-gradient(top, #4A4A49, #40403F);
    background-image: -moz-linear-gradient(top, #4A4A49, #40403F);
    color: #FFF;
    border-color: #747473;
}

.ui_selector .select:hover {
    color: #424242;
    background-image: -webkit-linear-gradient(top, #FAFAFA, #FAFAFA);
    background-image: -moz-linear-gradient(top, #FAFAFA, #FAFAFA);
}

.ui_selector .select:active {
    color: #6d6d72;
    background-image: -webkit-linear-gradient(top, #F6F6F6, #F6F6F6);
    background-image: -moz-linear-gradient(top, #F6F6F6, #F6F6F6);
}

.dark-mode .ui_selector .select:hover,
.dark-mode .ui_selector .select:active{
    background-image: -webkit-linear-gradient(top, #4A4A49, #4A4A49);
    background-image: -moz-linear-gradient(top, #4A4A49, #4A4A49);
    color: #FFF;
    border-color: #747473;
}

.ui_selector .select .detected-ico {
    display: inline-block;
}

.ui_selector .active, .ui_selector .active:hover, .ui_selector .active:active {
    box-shadow: 0 -1px 15px -10px rgba(0, 0, 0, 0.85) !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #F3F3F3;
}

.sliding-text {
    position: relative
}

.ui_selector .options {
    margin-left: 0px;
    margin-top: -4px;
    background: #fff;
    border: 1px solid rgba(200, 199, 204, 0.5);
    width: 231px;
    overflow: hidden;
    max-height: 313px;
    position: absolute;
    font-size: 12px;
    box-shadow: 0 3px 12px rgba(28, 29, 33, 0.075);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: none;
}

.dark-mode .ui_selector .options {
    background: #525251;
}

.ui_selector .options ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 232px;
}

.ui_selector .options ul li {
    padding: 10px 0px;
    -webkit-user-select: none;
    text-align: center;
    font-size: 17px;
    -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    margin: 0 10px;
    border-radius: 6px;
    position: relative;
}

.dark-mode .options ul li {
    color: #fff;
}

.ui_selector .options ul li:last-child {
    margin-bottom: 16px;
}

.ui_selector .options ul li.option:first-child,
.ui_selector .options ul li.option_selected:first-child {
    margin-top: 16px;
}

.ui_selector .options ul li.whenHover {
    cursor: pointer;
    background: #f3f3f3;
    text-align: center;
}

.dark-mode .ui_selector .options ul li.whenHover {
    background: rgba(255, 255, 255, 0.5);
}

.ui_selector .options ul li.option_selected {
    cursor: pointer;
    background-image: linear-gradient(145deg, #01EF92, #00D8FB),
    linear-gradient(35deg, rgba(1, 239, 146, 0.25), rgba(0, 216, 251, 0.25)) !important;
    color: #fff;
    font-weight: 600;
}

.ui_selector .options ul .group,
.ui_selector .options ul .group:hover,
.ui_selector .options ul .group.whenHover {
    padding: 16px 10px;
    color: #8e8e93;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    cursor: default;
    background: #FFF;
}

.dark-mode .ui_selector .options ul .group,
.dark-mode .ui_selector .options ul .group:hover,
.dark-mode .ui_selector .options ul .group.whenHover {
    color: #98989D;
    background: #525251;
}

.group-element {
    width: 153px;
}

.options .dd-search {
    border-bottom: 1px solid rgba(200, 199, 204, 0.5);
}

.dark-mode .options .dd-search {
    border-bottom-color: #747473;
}

.dd-search .dd-input {
    padding: 16px;
    padding-left: calc(16px * 3);
    width: 168px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, Ubuntu, sans-serif;
    text-align: left;
    color: #000;
    font-size: 17px;
    background-image: url(../../images/ui/searchfield-icon.png);
    background-position: 16px;
    background-size: 16px;
    background-repeat: no-repeat;
}

.dark-mode .dd-search .dd-input {
    color: #FFF;
    background-color: #525251;
}

.dd-search .dd-input:focus {
    -webkit-transition: all 275ms cubic-bezier(0.23, 1, 0.32, 1);
    outline: none;
    text-align: left;
}

.dd-input::-webkit-input-placeholder {
    color: #8e8e93;
}

.search-failed-plaque {
    text-align: center;
    padding: 20px;
    color: #8e8e93;
    font-size: 17px;
    font-weight: 600;
}

.dark-mode .search-failed-plaque {
    color: #98989D;
}

.rm-recent {
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url(../../images/ui/regular-lang-remove.png);
    background-size: 10px 10px;
    top: 15px;
    right: 10px;
}

.rm-recent:hover {
    background-image: url(../../images/ui/hover-lang-remove.png);
}

.rm-recent:active {
    background-image: url(../../images/ui/down-lang-remove.png);
}

.option_selected .rm-recent {
    background-image: url(../../images/ui/down-active-lang-remove.png);
}

.option_selected .rm-recent:hover {
    background-image: url(../../images/ui/hover-active-lang-remove.png);
}

.option_selected .rm-recent:active {
    background-image: url(../../images/ui/down-active-lang-remove.png);
}

.hidden {
    display: none;
}

/* === Narrow version === */

.it-narrow .select {
    width: 127px;
}

.it-narrow .options, .it-narrow .options ul {
    width: 137px;
}

.it-narrow .options .dd-input {
    width: 96px;
}