#TnITTtw-tooltip-wrap {
  position: absolute;
  z-index: 1000000131; /* 1999999999 */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, Ubuntu, sans-serif !important;
  font-size: 13px !important;
  line-height: normal !important
}

  .TnITTtw-inside-layout {

  }

    .TnITTtw-content {
      
    }