
body.dark-mode {
    background: #2C2C2B;
}

#main-wrap {
    text-align: center;
    padding: 0 32px;
    width: calc(550px - 32px - 32px);
}

.info-window {
    display: none;
    position: absolute;
    z-index: 2;
    text-align: left;
    left: 0;
    top: 0;
    background: rgba(249 249 249 / 0.85);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.dark-mode .info-window {
    background: #2C2C2B;
}

.info-window .close {
    width: 20px;
    height: 20px;
    background-image: url(../../../images/ui/regular-wl-remove.png);
    background-size: 20px 20px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.info-window .close:hover {
    background-image: url(../../../images/ui/hover-wl-remove.png);
}

.info-window .close:active {
    background-image: url(../../../images/ui/down-wl-remove.png);
}

.info-window .contents {
    padding: 0 24px;
}

.info-window .head {
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
}

.dark-mode .info-window .head {
    color: #FFF;
}

.info-window .text {
    margin-top: 16px;
    font-size: 17px;
    color: #6d6d72;
}

.info-window .text a {
    color: #6d6d72;
}

.dark-mode .info-window .text,
.dark-mode .info-window .text a {
    color: #B5B5B4;
}

.logo {
    display: inline-block;

    width: 153px;
    height: 48px;

    background-image: url(../../../images/ui/_logo_color.png);
    background-size: 153px 48px;

    margin-bottom: 16px;
    margin-top: 32px;
}

.small-logo {
    margin-top: 16px;

    width: 88px;
    height: 27px;

    background-size: 88px 27px;
}

.privacy-logo {
    display: inline-block;

    width: 62px;
    height: 70px;

    background-image: url(../../../images/ui/privacy-icon.png);
    background-size: 62px 70px;

    margin-bottom: 16px;
    margin-top: 32px;
}

.promo-text {
    color: #8e8e93;
    font-size: 17px;
    width: 420px;
    margin: 0 auto;
}

.login-screen {
    display: none;
}

.check-user-screen {
    display: block;
}

.controls {
    position: absolute;
    width: calc(550px - 32px - 32px);
}

.restore-text, .sync-text, .gdpr-text {
    display: none;
    color: #000;
    font-size: 17px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.gdpr-text {
    display: block;
    color: #000;
}

.gdpr-text a {
    color: #000;
}

.dark-mode .gdpr-text, .dark-mode .gdpr-text a {
    color: #FFF;
}

.restore-text a {
    color: #6d6d72;
}

.dark-mode .restore-text, .dark-mode .sync-text, .dark-mode .restore-text a {
    color: #B5B5B4;
}

.check-user-screen .controls {
    bottom: 16px;
}

.sign-in-screen .controls {
    bottom: 120px;
}

.sign-up-screen .controls {
    bottom: 60px;
}

.gdpr-consent-screen .controls {
    bottom: 32px;
}

.gdpr-link {
    color: #6d6d72;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.dark-mode .gdpr-link {
    color: #B5B5B4;
}

.gdpr-link:first-of-type {
    margin-right: 24px;
}

.email, .password, .name {
    margin-bottom: 16px;
}

.del {
    color: #8e8e93;
    text-transform: uppercase;
    font-size: 14px;
    margin: 16px 0;
}

.dark-mode .del {
    color: #B5B5B4;
}

.social-button {
    display: inline-block;
    width: 36px;
    height: 36px;

    background-size: 36px 36px;

    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
}

.g-button {
    background-image: url(../../../images/ui/regular-g.png);
}

.g-button:hover {
    background-image: url(../../../images/ui/hover-g.png);
}

.g-button:active {
    background-image: url(../../../images/ui/down-g.png);
}

.fb-button {
    background-image: url(../../../images/ui/regular-fb.png);
    margin-left: 11px;
}

.fb-button:hover {
    background-image: url(../../../images/ui/hover-fb.png);
}

.fb-button:active {
    background-image: url(../../../images/ui/down-fb.png);
}

.social-button {
    filter: invert(50%) sepia(6%) saturate(62%) hue-rotate(22deg) brightness(89%) contrast(88%);
}

.checkbox {
    background-color: #F3F3F3;
    border-radius: 11px;
    text-align: left;
    font-size: 17px;
    color: #000;
    padding: 12px;
    background-image: url(../../../images/ui/gdpr-checkbox-unchecked.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: calc(10px + 16px + 22px);
    margin-bottom: 16px;
    cursor: pointer;
    user-select: none;
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    font-weight: 500;
}

.dark-mode .checkbox {
    background-color: #393938;
    color: #FFF;
}

.checkbox.checked {
    background-image: url(../../../images/ui/gdpr-checkbox-checked.png);
}

.skip {
    margin-top: 16px;
    color: #6d6d72;
    font-weight: 700;
    font-size: 14px;
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
}

.skip .skip-arrow {
    display: inline-block;
    width: 12px;
    height: 15px;
    background-image: url(../../../images/ui/regular-text-arrow.png);
    background-repeat: no-repeat;
    background-size: 10px 14px;
    top: 2px;
    position: relative;
    margin-left: 5px;
    transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.skip:hover {
    cursor: pointer;
    color: #6d6d72;
    text-decoration: underline;
}

.skip:hover .skip-arrow {
    background-image: url(../../../images/ui/hover-text-arrow.png);
}

.skip:active {
    color: #424242;
}

.skip:active .skip-arrow {
    background-image: url(../../../images/ui/down-text-arrow.png);
}

.back-button {
    width: 26px;
    height: 22px;
    background-image: url(../../../images/ui/regular-login-back.png);
    background-size: 26px 22px;
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dark-mode .back-button {
    background-image: url(../../../images/ui_dark/regular-login-back.png);
}

.back-button:hover {
    background-image: url(../../../images/ui/hover-login-back.png);
}

.dark-mode .back-button:hover {
    background-image: url(../../../images/ui_dark/hover-login-back.png);
}

.back-button:active {
    background-image: url(../../../images/ui/down-login-back.png);
}

.dark-mode .back-button:active {
    background-image: url(../../../images/ui_dark/down-login-back.png);
}

.checked-email {
    margin-bottom: 18px;
    font-size: 17px;
    font-weight: 600;
}

.dark-mode .checked-email {
    color: #FFF;
}

.footer-note {
    margin: 0 auto;
    margin-top: 24px;
    color: #8e8e93;
    font-size: 14px;
    width: 410px;
}

.footer-note a {
    color: #8e8e93;
    text-decoration: none;
}

.dark-mode .footer-note, .dark-mode .footer-note a {
    color: #B5B5B4;
}

.footer-note a:hover {
    text-decoration: underline;
}

.check-user-loading, .sign-in-loading, .sign-up-loading {
    display: none;
    margin-top: 16px;
    margin-bottom: 32px;
}

.gdpr-loading {
    display: none;
    margin-top: 32px;
    margin-bottom: 0;
}

/* Samsung Internet */

html.touch #main-wrap {
    width: calc(100% - 32px - 32px);
    height: calc(100%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

html.touch .promo-text {
    width: auto;
}

html.touch .controls {
    position: inherit;
    width: calc(100%);
    margin-top: 25%;
}

html.touch .login-screen {
    width: 100%;
}

html.touch .footer-note {
    width: auto;
}
